[submodule "P-Emerald_2/FSROOT"]
	path = P-Emerald_2/FSROOT
    url = https://github.com/ph111p/perm2-fsroot
    ignore = dirty
[submodule "P-Emerald_2/tools/ndstool"]
	path = P-Emerald_2/tools/ndstool
	url = https://github.com/PH111P/ndstool
    ignore = dirty
[submodule "P-Emerald_2/tools/fsdata"]
	path = P-Emerald_2/tools/fsdata
	url = https://github.com/PH111P/perm2-fsdata
