[submodule "PNEO/FSROOT"]
	path = PNEO/FSROOT
    url = https://github.com/neo-engine/fsroot
    ignore = dirty
[submodule "PNEO/tools/ndstool"]
	path = PNEO/tools/ndstool
	url = https://github.com/neo-engine/ndstool
    ignore = dirty
[submodule "PNEO/tools/fsdata"]
	path = PNEO/tools/fsdata
	url = https://github.com/neo-engine/fsdata
[submodule "libnds183"]
	path = PNEO/lib/libnds
	url = https://github.com/neo-engine/libnds-1.8.3
[submodule "dswifi042"]
	path = PNEO/lib/dswifi
	url = https://github.com/neo-engine/dswifi-0.4.2
[submodule "libfat120"]
	path = PNEO/lib/libfat
	url = https://github.com/neo-engine/libfat-1.2.0
