[submodule "PNEO/FSROOT"]
	path = PNEO/FSROOT
    url = https://github.com/neo-engine/fsroot
    ignore = dirty
[submodule "PNEO/tools/ndstool"]
	path = PNEO/tools/ndstool
	url = https://github.com/neo-engine/ndstool
    ignore = dirty
[submodule "PNEO/tools/fsdata"]
	path = PNEO/tools/fsdata
	url = https://github.com/neo-engine/fsdata
